@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap';

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Orbitron, sans-serif;
  color: #fff;

  background: linear-gradient(135deg, #141e30, #243b55);
}

.app {
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  text-align: center;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.counter {
  margin-bottom: 40px;
  font-size: 72px;
  color: #0fc;
  transition: transform 0.3s ease;
}

.counter:hover {
  transform: scale(1.1);
}

button {
  cursor: pointer;

  margin: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }

  &.add1 {
    background: linear-gradient(to right, #56ab2f, #a8e063); // verde
  }

  &.add100 {
    background: linear-gradient(to right, #1e3c72, #2a5298); // azul
  }

  &.increase {
    background: linear-gradient(to right, #ff512f, #dd2476); // laranja-rosa
  }
}
